.page-title {
    
     width: 100%;
    margin: auto;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
    font-size: 42px;
    
    font-weight: 800;
    color: black;
    backdrop-filter: blur(10px);
    
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);

    background-image: url('../images/image3.avif');
    background-position: center;
    
    animation: floaty 5s ease-in-out infinite;

}

/* premium floating motion */
@keyframes floaty {
    0% { transform: translateY(0); }
    50% { transform: translateY(-7px); }
    100% { transform: translateY(0); }
}

body{

    background-image:url('../images/background0.webp') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.bodyform{

    text-align: center;
    size: 300px;

    margin-left: 250px;  
    margin-right: 400px;  
    
    border-radius: 15px;
    border: 2px solid blue;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);

    width: 350px;
    padding: 25px;
    
    backdrop-filter: blur(10px);
     

    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
    border-left: none !important;
    



}
.leftbody{
    
    width: 450px;

    border-radius: 15px;
    border: 2px solid blue;
    box-shadow: 0px 0px 30px #8641a7;
    border-right: none !important;
   
    margin-left: 300px;
    margin-right: 600px;
    
    background-image: url('../images/image2.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.final_ans_of_prediction {
   margin-top: 20px;
    padding: 15px;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    border: 2px solid #ddd;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
select, input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 15px;
}
button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    background: #007bff;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}


/* Chrome, Edge, Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

